:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.leftsidebar {
    width: 200px;
    background-color: aqua;

}

.rightsidebar {
    width: 550px;
    background-color: rgba(243, 152, 152, 0.87);

}

.secondRightSidebar {    
    width: 250px;
    background-color: rgba(53, 231, 67, 0.87);
    margin-top: 64px;
}


mat-drawer-container {
    height: 100%;
}

mat-drawer-content {
    padding:20px;
}
