<app-header (toogleSIdeBarForMe)="leftSideBarToggler()" (toogleRigthSideBarForMe)="rightSideBarToggler()"
    (toogleSecondRigthSideBarForMe)="secondRightSideBarToggler()"></app-header>

<mat-drawer-container>

    <mat-drawer class="leftsidebar" mode="side" [opened]="leftSideBarOpen">
        <app-left-side-bar></app-left-side-bar>
    </mat-drawer>

    <mat-drawer-content fxFlexmxs="100vw" fxFlex.gt-sm="80%">
        MainContent
    </mat-drawer-content>

    <mat-drawer class="rightsidebar" mode="right side" [opened]="rightSideBarOpen" position="end">
        <app-right-side-bar></app-right-side-bar>
    </mat-drawer>

</mat-drawer-container>

<mat-drawer class="secondRightSidebar" [opened]="secondRightSideBarOpen" position="end">
    <app-second-right-side-bar></app-second-right-side-bar>
</mat-drawer>



<!-- <app-footer></app-footer> -->