<mat-nav-list>

    <h2 class="matHeader">
        <mat-icon>home</mat-icon>
        <span> LeftSideBar </span>

    </h2>


   <!-- <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon style="font-size: 20px;height:20px;width:20px;">
            dashboard_customize</mat-icon>
        Dashboard
    </a>

    <mat-divider></mat-divider>


    <button mat-button [matMenuTriggerFor]="rootMenu">
        <mat-icon>contact_mail</mat-icon>
        <span> Επικοινωνία</span>
    </button>


    <mat-menu #rootMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="subMenu">
            <span>Needed Help</span>
            <mat-icon>live_help</mat-icon>
        </button>
    </mat-menu>

    <mat-menu #subMenu="matMenu">
        <button mat-menu-item>
            <mat-icon>sentiment_very_satisfied</mat-icon>Ask Marios
        </button>
        <button mat-menu-item>
            <mat-icon>sentiment_very_dissatisfied</mat-icon>Ask Other
        </button>
    </mat-menu>  

    <mat-divider></mat-divider> -->


    <mat-expansion-panel style="background-color: aqua;">
        <mat-expansion-panel-header>
            Δικαιώματα
        </mat-expansion-panel-header>

        <button mat-menu-item>Εισαγωγή</button>
        <button mat-menu-item>Επεξεργασία</button>
        <button mat-menu-item>Reports</button>
    </mat-expansion-panel>

    <mat-expansion-panel style="background-color: aqua;">
        <mat-expansion-panel-header>
            Εκκρεμότητες
        </mat-expansion-panel-header>

        <button mat-menu-item>Εισαγωγή</button>
        <button mat-menu-item>Επεξεργασία</button>
        <button mat-menu-item>Reports</button>
    </mat-expansion-panel>

    <mat-expansion-panel style="background-color: aqua;">
        <mat-expansion-panel-header>
            Αναφορές
        </mat-expansion-panel-header>

        <button mat-menu-item>Γενικές Αναφορές</button>
        <button mat-menu-item>QA's</button>
    </mat-expansion-panel>

    



</mat-nav-list>