.icon-text {
    display: flex; 
    align-items:bottom; 
    justify-content: bottom;
}

.mat-divider {
    display: block;
    margin: 0;
    
    padding-bottom: 15px;
    border-top-width: 1px;
    border-top-style: solid;
 }

.matHeader {
    padding-left: 10px;
  }

  .mat-card {
      background-color: rgb(250, 250, 250);
  }

  .ekrMatFormField {
      padding: 20px;
  }

