<mat-nav-list>

    <h2 class="matHeader">
        <mat-icon>home</mat-icon>
        <span> SecondRightSideBar </span>

    </h2>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Δικαιούχοι
        </mat-expansion-panel-header>
        <section fxLayout = "column">
            <mat-card>
                <mat-card-content>
                    <!-- <label>Customer Code</label> -->
                    <mat-form-field fxLayout = "column" [style.width.px]=400>
                        <input matInput type="text" placeholder="Customer Code">
                        <mat-hint align="end">Not more then 11 characters long.</mat-hint>
                    </mat-form-field>
                    <!-- <label>Borrower surname</label> -->
                    <mat-form-field style="padding: 20px;">
                        <input matInput type="text" placeholder="Borrower's surname">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Bank</mat-label>
                        <mat-select matNativeControl placeholder="Choose">
                            <mat-option *ngFor="let bank of banks" [value]="bank">{{bank}}</mat-option>
                        </mat-select>
                    </mat-form-field>


                </mat-card-content>

                <mat-card-actions align="center">
                    <button mat-raised-button color="primary">Search</button>
                    <button mat-raised-button color="warn">Clear</button>
                </mat-card-actions>
            </mat-card>
        </section>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Εκκρεμότητες
        </mat-expansion-panel-header>
        <section>
            <mat-card>
                <mat-card-content>
                    <!-- <label>Customer Code</label> -->
                    <mat-form-field class="ekrMatFormField">
                        <input matInput type="text" placeholder="Αριθμός Εκκρεμότητας">
                        <mat-hint align="end">Not more then 11 characters long.</mat-hint>
                    </mat-form-field>
                    <!-- <label>Borrower surname</label> -->
                    <mat-form-field class="ekrMatFormField">
                        <input matInput type="text" placeholder="Borrower's surname">
                    </mat-form-field>
                    <mat-form-field class="ekrMatFormField">
                        <input matInput type="date" placeholder="Ημερομηνία Εισαγωγής">
                    </mat-form-field>
                    <mat-form-field class="ekrMatFormField">
                        <mat-label>Bank</mat-label>
                        <mat-select matNativeControl placeholder="Choose">
                            <mat-option *ngFor="let bank of banks" [value]="bank">{{bank}}</mat-option>
                        </mat-select>
                    </mat-form-field>


                </mat-card-content>

                <mat-card-actions align="center">
                    <button mat-raised-button color="primary">Search</button>
                    <button mat-raised-button color="warn">Clear</button>
                </mat-card-actions>
            </mat-card>
        </section>
    </mat-expansion-panel>


</mat-nav-list>